:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #0f0f0f;
  background-color: #f6f6f6;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

button {
  cursor: pointer;
}

.container {
  display: flex;
  height: 100vh;
}

.sidebar {
  flex: 0 0 250px;
  /* Initial width of sidebar */
  background-color: #f4f4f4;
  border-right: 1px solid #ddd;
  overflow-y: auto;
  /* Add this if you want the sidebar to be scrollable */
  resize: horizontal;
  min-width: 150px;
  /* Minimum width for resizing */
  max-width: 50%;
}

.editor {
  flex: 1;
  padding: 20px;
  overflow-y: auto;
  /* Add this if you want the editor to be scrollable */
}
